@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  /* Light Mode */
  --bg-color: hsl(33, 52%, 96%);
  --card: hsl(28, 100%, 97%);
  --terracota: hsl(11, 48%, 52%);
  --terracota-t: hsl(11, 48%, 52%, 40%);
  --amber: hsl(27, 62%, 56%);
  --amber-t: hsl(27, 62%, 56%, 30%);
  --dusty-rose: hsl(7, 39%, 62%);
  --dusty-rose-t: hsl(7, 39%, 62%, 20%);
  --warm-sand: hsl(31, 45%, 89%);
  --foreground: hsl(17, 47%, 12%);
  --muted-text: hsl(17, 24%, 44%);
  --muted-text-t: hsl(17, 24%, 44%, 40%);
  --bg-error: hsl(11, 80%, 96%);
  --bd-txt-error: hsl(11, 48%, 52%);

  /* Dark mode */
  --bg-color-d: hsl(20, 27%, 9%);
  --card-d: hsl(22, 29%, 11%);
  --popover-d: hsl(22, 31%, 14%);
  --terracota-d: hsl(11, 58%, 60%);
  --amber-d: hsl(27, 62%, 56%);
  --foreground-d: hsl(32, 46%, 93%);
  --muted-text-d: hsl(20, 20%, 53%);

  --fm-hd: "Playfair Display", serif;
  --fm: "Inter", sans-serif;
  --fs: 16px;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2rem;
  --fs-3xl: 3rem;
}

body {
  background-color: var(--bg-color);
  font-family: var(--fm);
  min-height: 100dvh;
  font-size: var(--fs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fm-hd);
}

p {
  color: var(--muted-text);
  font-family: var(--fm);
}

/* ===== NAVBAR ===== */
.navbar {
  border-bottom: 1px solid var(--warm-sand);
  box-shadow: 0 3px 10px 0 var(--warm-sand);
  padding-inline: 1.25rem;
  padding-block: 0.5rem;
}

.navbar div {
  gap: 0.875rem;
}

/* Logo */
.logo-navbar {
  padding: 0.7rem;
  border-radius: 1rem;
  color: var(--warm-sand);
  background: linear-gradient(145deg, var(--terracota), var(--amber));

  svg {
    width: 30px;
    height: 30px;
  }
}

.inkora {
  text-decoration: none;
  font-size: var(--fs-xl);
  font-family: var(--fm-hd);
  color: var(--terracota);
  font-weight: 700;
}

/* Nav links */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-2 li {
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;

  a {
    text-decoration: none;
    color: var(--muted-text);
    font-weight: 600;
    gap: 0.5rem;
    cursor: pointer;
  }

  svg {
    width: 25px;
  }

  &.active {
    background-color: var(--warm-sand);

    a {
      color: var(--terracota);
      font-weight: bold;
    }
  }
}

/* More */
.more svg,
.more img {
  width: auto;
  background-color: var(--warm-sand);
  border-radius: 50%;
}

.more svg {
  padding: 0.5rem;
  height: 40px;
  color: var(--muted-text);
}

.more img {
  height: 35px;
  border: 2px solid var(--terracota);
}

body.dark {
  background-color: var(--bg-color-d);
  color: var(--muted-text-d);
}

footer {
  text-align: center;
  margin-bottom: -1rem;
  color: var(--muted-text-t);
}

/* artworks */

.artwork-image .art-container {
    display: none;
}

.artwork-image .art-container.visible {
    display: block;
}

/* Modal */

.modal-content {
  background-color: whitesmoke;
  max-height: 80vh;

}

.modal-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.modal-container img {
  aspect-ratio: 1/1;
  border: 2px solid var(--dusty-rose);
  border-radius: 100%;
}

.modal-container .modal-header {
  display: flex;
  align-items: center;
  gap: 1rem;

  border-bottom: 0.1px solid var(--dusty-rose-t);

  img {
    height: 38px;
  }

  h3 {
    font-family: var(--fm);
    gap: 1rem;
    font-size: var(--fs-md);
    margin-bottom: 0;
  }
}


.modal-container .modal-body {
  height: 80vh;
  overflow-y: scroll;
  padding: 1.5rem 1rem;
  border-bottom: 0.1px solid var(--dusty-rose-t);


  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--warm-sand);
    border-radius: 1rem;
  }
}

.comment-featured img {
  height: 38px;
  align-self: flex-start;
}


.comment-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  p {
    color: var(--foreground);
    word-break: break-word;
    overflow-wrap: break-word;
    padding-right: 3rem;
  }

  span {
    color: var(--muted-text);
  }

  h4,
  p,
  span {
    font-family: var(--fm);
    font-size: var(--fs-md);
    margin-bottom: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer {
    display: flex;
    gap: 0.1rem;

    button {
      border: none;
      margin-left: -0.5rem;
      color: var(--terracota-t);
      background-color: transparent;

    }

    svg {
      height: 24px;
    }
  }
}

.m-footer {
  padding-inline: 1rem;
  display: flex;
  padding-block: 0.5rem 1rem;
}

.m-footer-container {
  flex: 1;

  button {
    border: none;
    margin-left: -0.5rem;
    color: var(--foreground);
    background-color: transparent;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  input {
    border: none;
    padding: 1rem;
    background-color: transparent;
    width: 100%;
  }

  input:focus {
    outline: none;
  }
}

.send-comment {
  display: flex;
  align-items: end;
  outline: none;
  border: none;
  background: transparent;

  svg {
    width: 32px;
    height: 32px;
    margin-bottom: 0.7rem;
  }
}